ul li.first > a{
	background:url("../img/prev.png") no-repeat !important;
}

ul li.first-hidden > a{
	background:url("../img/prev.png") no-repeat !important;
	display:none;
}

ul li.previous > a{
	background:url("../img/back.png") no-repeat !important;
}

ul li.previous-hidden > a{
	background:url("../img/back.png") no-repeat !important;
	display:none;
}

ul li.next > a{
	background:url("../img/next.png") no-repeat !important;
}

ul li.next-hidden > a{
	background:url("../img/next.png") no-repeat !important;
	display:none;
}

ul li.last > a{
	background:url("../img/f_next.png") no-repeat !important;
}

ul li.last-hidden > a{
	background:url("../img/f_next.png") no-repeat !important;
	display:none;
}